// Fedora CoreOS profile
resource "matchbox_profile" "openshift-agent-install" {
  name   = "{{ hostvars[groups['hub-cluster'][0]].cluster_name }}"
  kernel = "/assets/{{ hostvars[groups['hub-cluster'][0]].cluster_name }}/agent.x86_64-vmlinuz"
  initrd = [
    "--name initrd /assets/{{ hostvars[groups['hub-cluster'][0]].cluster_name }}/agent.x86_64-initrd.img"
  ]

  args = [
    "initrd=initrd",
    "coreos.live.rootfs_url={{ hostvars[groups['matchbox'][0]].http_endpoint }}/assets/{{ hostvars[groups['hub-cluster'][0]].cluster_name }}/agent.x86_64-rootfs.img",
    "rw",
    "ignition.firstboot",
    "ignition.platform.id=metal",
  ]
}
