---
# - name: Install additional packages
#   hosts: papermc_server
#   become: true
#   tasks:
#     - name: Install python-apt packages
#       ansible.builtin.package:
#         name: "libapt-pkg"
#         state: latest
#         update_cache: true

- name: 1. Deploy Paper Minecraft server
  hosts: papermc_server
  roles:

  vars:
    user:
      home_dir: /opt/minecraft
      name: wed
  roles:
    - role: apigban.papermc_role
      become: yes
