---
# - name: Step 1 - Install Prerequisites
#   hosts: fastpass
#   become: true
#   gather_facts: true
#   roles:
#     - role: kubernetes-prerequisites

# - name: Step 2 - Deploy First Control Plane Node
#   hosts: fastpass_control_plane[0]
#   become: true
#   gather_facts: false
#   roles:
#     - role: fastpass-first-control-plane

- name: Step 3 - Deploy Additional Control Plane Nodes
  hosts: fastpass_control_plane[1:]
  become: true
  gather_facts: true # false
  roles:
    - role: fastpass-additional-control-plane
  vars:
    cluster_name: "fastpass"

# - name: Step 4 - Deploy Worker Nodes
#   hosts: fastpass_workers
#   become: true
#   gather_facts: false
#   roles:
#     - role: fastpass-workers
