[kubernetes_API]
title=Kubernetes API
description=KKubernetes API
ports=6443/tcp

[etcd]
title=Kubernetes etcd
description=Kubernetes etcd
ports=2379:2380/tcp

[kubelet]
title=Kubernetes Kubelet
description=Kubernetes Kubelet
ports=10250/tcp

[kube-scheduler]
title=Kubernetes kube-scheduler
description=Kubernetes kube-scheduler
ports=10259/tcp

[kube-controller-manager]
title=Kubernetes kube-controller-manager
description=Kubernetes kube-controller-manager
ports=10257/tcp

[kube-proxy]
title=Kubernetes kube-proxy
description=Kubernetes kube-proxy
ports=10256/tcp

[NodePort]
title=NodePort
description=NodePort
ports=30000:32767/tcp|30000:32767/udp