// Terraform DNS entry template

resource "freeipa_dns_record" "{{ inventory_hostname }}" {
  zone_name = "{{ base_domain }}."
  name = "{{ inventory_hostname }}"
  type = "A"
  records = [
    "{{ ip_address }}",
  ]
  ttl = 60
}
